body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    color: #666;
}
h1, h2, h3 {
    color: #333;
}
a {
    color: #1a73e8;
    text-decoration: none
}
a:hover {
    text-decoration: underline;
}
.vignette {
    max-width: 300px;
}

/* Styling for code blocks */
pre {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding inside the code block */
    overflow-x: auto; /* Horizontal scroll for long code lines */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    font-size: 14px; /* Font size */
}

/* Styling for inline code */
code {
    background-color: #f5f5f5; /* Light gray background */
    border: 1px solid #ddd; /* Light gray border */
    border-radius: 3px; /* Rounded corners */
    padding: 2px 4px; /* Padding inside the inline code */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font */
    font-size: 14px; /* Font size */
}

/* Optional: Add syntax highlighting for code blocks */
pre code {
    color: #333; /* Text color */
}


.toggleDiv {
    display: none;
}
.title {
    cursor: pointer;
    background-color: #f0f0f0;
    user-select: none;
}